@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Bonbon&family=Lora&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

header {
  background-color: #2f3e46;
}

.heading1 {
  height: 200px;
  /* padding-top: 20px; */
  color: #cad2c5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inner-social-link ul {
  display: inline-block;
}

.inner-social-link ul li,
.main-menu ul li {
  display: inline-block;
  padding: 10px;
}

.inner-social-link ul li a {
  display: inline-block;
  padding-left: 10px;
  padding-top: 7px;
  border: 50%;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  transition: translate 0.25s;
}

.inner-social-link ul a:hover {
  translate: 5px;
  background-color: #84a98c;
}

.inner-social-link ul a i {
  padding-left: 2px;

  color: #2f3e46;
  display: inline-block;
}

.logo h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Bonbon", cursive;
  /* padding-right: 20px; */
  /* padding-bottom: 35px; */
}

.searchbox input {
  width: 250px;
  height: 38px;
}

.searchbox input[placeholder] {
  padding-left: 15px;
  padding-bottom: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.searchbox {
  position: relative;
  padding-top: 20px;
}
.searchbox i {
  position: absolute;
  bottom: 7px;
  left: 226px;
  bottom: 103px;
}

hr {
  color: #cad2c5;
}

/* Heading 2 */

.heading2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.main-menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.main-menu ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #84a98c;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.main-menu ul li:hover::after {
  width: 100%;
}

.main-menu ul li a {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #cad2c5;
  /* padding: 20px; */
}

/* .main-menu ul li a:hover {
  translate: 5px;
  color: #84a98c;
} */

.carousel {
  padding: 0px 30px 0px 30px;
}

/* Main content */

.row {
  justify-content: space-around;
}

.blog-content {
  padding-top: 30px;
}

.row div .blog-post {
  padding-top: 40px;
}

.blog-post .categories-img {
  text-align: center;
}

.blog-post .categories-img img {
  width: 330px;

  transition: width 0.25s;
  transition: box-shadow 0.25s;
}

.blog-post .categories-img img:hover {
  width: 340px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-post .categories-link {
  text-align: center;
  padding-top: 20px;
}

.blog-post .categories-link a {
  display: inline-block;
  background: #84a98c;
  color: #2f3e46;
  width: 70px;
  height: 35px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
}

.blog-post .categories-link a:hover {
  background: #cad2c5;
}

.title {
  padding-top: 15px;
  text-align: center;
}

h3 a {
  color: #2f3e46;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 20px;
}

h3 a:hover {
  color: #84a98c;
}

.date {
  padding-top: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #2f3e46;
}

.date i {
  font-size: 5px;
}

p {
  color: #354f52;
  padding-top: 20px;
  text-align: justify;
  line-height: 1.5em;
  font-size: 17px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

p a {
  color: #52796f;
  font-weight: 700;
}

.like-share {
  text-align: center;
}

.like-share ul {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.like-share ul li {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #52796f;
  border-left: none;
  border-right: none;
  width: 150px;
  height: 50px;
  padding-top: 10px;
  padding-right: 10px;
}

.like-share ul li a i {
  padding-left: 20px;

  color: #2f3e46;
  transition: width 0.25s;
}

.like-share li a i:hover {
  color: #84a98c;
}

.sidebar-content {
  padding-top: 40px;
}

.blogger-image img {
  border-radius: 50%;
  width: 100%;
  text-align: center;
}

.name {
  padding-top: 8px;
  color: #2f3e46;
  font-size: large;
  font-weight: 600;
  text-align: center;
}

.about p {
  font-size: 14px;
  line-height: 1.5em;
  padding-bottom: 15px;
}

.sidebar-title span {
  width: 220px;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  color: #333;
  display: block;
  text-align: center;
  padding: 9px 0px 8px 0px;
  border: 1px solid #84a98c;
  left: -25px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.sidebar-content .single-post {
  position: relative;
  padding: 0px 0px 0px 40px;
  margin-bottom: 33px;
}

.single-post .img-link {
  position: absolute;
  overflow: hidden;
  left: -22px;
  top: 7px;
  width: 50px;
  height: 70px;
}

.single-post .img-link img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  cursor: pointer;
  color: #2f3e46;
}

a:hover {
  color: #84a98c;
}

.text {
  font-size: 12px;
  font-weight: 700;
  color: #2f3e46;
  font-family: "Roboto", sans-serif;
}

.subscribe {
  background: #cad2c5;
  left: -25px;
  border: 1px solid #354f52;
  width: 270px;
  height: 250px;
  font-family: "Roboto", sans-serif;
}

.subscribe .newsletter .envelope {
  text-transform: uppercase;
  color: #52796f;
  padding-top: 20px;
  text-align: center;
}
.subscribe .newsletter .envelope p {
  display: inline;
  font-weight: bolder;
  font-size: larger;
  padding-left: 10px;
}

.subscribe .newsletter p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.email {
  text-align: center;
}

.email form input {
  background-color: #fff;
  height: 35px;
  border-width: 1px;
}

.email form input[placeholder] {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 10px;
}

.email form button {
  background-color: #84a98c;
  margin-top: 25px;
  width: 100px;
  height: 35px;
  border-width: 0.1px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
}

.email form button:hover {
  background-color: #cad2c5;
}

.categories {
  padding-top: 40px;
}

.categories .categories-list ul {
  padding-top: 20px;
  display: inline-block;
  text-decoration: none;
}

.categories .categories-list ul li {
  list-style: none;
  display: list-item;
}

.categories .categories-list ul li a {
  text-decoration: none;
  font-size: large;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  width: 120;
  height: 35px;
  border-bottom: 1px solid #354f52;
}

footer {
  margin-top: 60px;
  background: #2f3e46;
  height: 230px;
}

.footer1 {
  display: flex;

  justify-content: space-evenly;
  padding-top: 30px;
}

.footer1 nav {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
}

.footer1 nav ul {
  text-decoration: none;
  display: inline-block;
}

.footer1 nav ul li {
  text-decoration: none;
  display: inline-block;
}

.footer1 nav ul li a {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #cad2c5;
  padding-left: 70px;
}
.footer1 nav ul li a:hover {
  color: #84a98c;
}

.footer2 {
  margin-top: 20px;
  color: #84a98c;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}

.copyright {
  padding-top: 20px;
  color: #84a98c;
  display: flex;
  justify-content: center;
  font-family: "Lora", serif;
  font-size: small;
}

/* Blog Categories */

.page-title {
  margin-top: 30px 0px;
}
.text {
  display: flex;
  justify-content: center;
}

.page-title .text {
  font-size: 24px;
  font-family: "Lora", sans-serif;
  background: #84a98c;
  padding: 58px 0px 57px 0px;
  line-height: 35px;
  font-weight: 400;
  color: #333333;
}
